.centrado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}



#todo{
     position: absolute;
    left: 25%;
    top: 25%;
    
}

#cuerpo {
    margin: 0 auto;
    background-color: #FCF3CF;
}

h1{
    text-align: center;
    
}
#imagen img{
    width: 100%;
    height: 100%;
    
    
}

#ins {
  text-align: justify;
}


#juego {
    display: none;
}



#interiorJuego {
    width: 100%;
}

#textoAhorcado {
    font-size: 40px;
 	color : #ff0000;
 	height: 70px;
 	margin-top: 5%;
}

.claeAhorcado {
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: red;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.claseAdivina {   
    font-size: 50px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    border: none;
    float:left;
    
}

#textoAdivinar {
    font-size: 50px;
 	color : black;
 	height: 70px;
 	margin-top: 20px;
    
}

.botonTeclado {}

#tablaBotones {
    margin: 0 auto;
    margin-top: 200px;
}

#tablaBotones tr td {
    height: 60px;
    width: 40px;
}

#tablaBotones td input {
    height: 60px;
    width: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
